<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/css/bootstrap.min.css" %}" />  
   
</head>

<body>
    <h1 class="text-center">Welcome to My Calculator !</h1>
<!--     <div class="container col-md-4 col-md-offset-4" style="margin-top: 100px;">-->        
        <div class="container col-md-4 col-md-offset-4">
            <form action="" method="POST">
            <div class="form-group col-md-8 col-md-offset-4 right">
            {% csrf_token %}
            <p>{{ message }}</p>
            <input type="text" name="display" value="{{ display }}">
            <input type="hidden" name="prev_op" value="{{ op }}">
            <input type="hidden" name="pre_val" value="{{ preval }}">
            </div>
        <div class="form-group col-md-8 col-md-offset-4 right">
        <!-- <div class="row"> -->
            <button type="submit" name="digit" class="btn btn-outline-info" value="7">7</button>
            <button type="submit" name="digit" class="btn btn-outline-info" value="8">8</button>
            <button type="submit" name="digit" class="btn btn-outline-info" value="9">9</button>
            <button type="submit" class="btn btn-outline-secondary" name="operator" value="+">&plus;</button>
        </div>
        <!-- <div class="row"> -->
        <div class="form-group col-md-8 col-md-offset-4 right">
            <button type="submit" name="digit" class="btn btn-outline-info" value="4">4</button>
            <button type="submit" name="digit" class="btn btn-outline-info" value="5">5</button>
            <button type="submit" name="digit" class="btn btn-outline-info" value="6">6</button>
            <button type="submit" class="btn btn-outline-secondary" name="operator" value="-">&minus;</button>
        </div>
        <div class="form-group col-md-8 col-md-offset-4 right">
            <button type="submit" name="digit" class="btn btn-outline-info" value="1">1</button>
            <button type="submit" name="digit" class="btn btn-outline-info" value="2">2</button>
            <button type="submit" name="digit" class="btn btn-outline-info" value="3">3</button>
            <button type="submit" class="btn btn-outline-secondary" name="operator" value="*">&times;</button>
        </div>
        <div class="form-group col-md-8 col-md-offset-4 right" style="padding-left: 50px;">
            <button type="submit" name="digit" class="btn btn-outline-info" value="0">0</button>
            <button type="submit" class="btn btn-outline-secondary" name="operator" value="=">&equals;</button>
            <button type="submit" class="btn btn-outline-secondary" name="operator" value="/">&divide;</button>
        </div>
        </form> 

</body>
</html>