{% extends 'base.html' %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grumblr</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Global</a></li>
                    <li><a href="#">Not Logged in</a></li>
                    <!-- <li><a href="#"><span class="caret"></span>Settings</a></li> -->
                </ul>
            </div>
        </div>
    </nav>

<div class="jumbotron text-center">
    <h2> Log Into Grumblr</h2>
    <div class="container">
        <!-- <p style="color:red">
        {{message}}
        </p> -->
        {% for error in form.non_field_errors %}
        <p style="color:red">
        {{ error }}
        </p>
        {% endfor %}
        <form method="post" action="">
            <div class="row">
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4">
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div class="form-group col-sm-4"></div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4">
                {{ form.password.label_tag }} {{ form.password }}
            </div>
            <div class="form-group col-sm-4"></div>
            </div>
            
            <button type="submit" class="btn-primary" value="login">Log In</button>
            <input type="hidden" name="next" value="{{ next }}">
            {% csrf_token %}
        </form>
    </div>
    <div class="text-center">
        <a href="../signup"><p>Sign Up for Grumblr</p></a>
    </div>

</div>

{% endblock %}
