{% extends 'base.html' %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grumblr</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Global</a></li>
                    <li><a href="{% url 'login' %}">Log into existing user</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h2> Create a New Account</h2>
        {% for error in form.non_field_errors %}
        <p style="color:red">
        {{ error }}
        </p>
        {% endfor %}
        <div class="container">
            <form method="post">

<!--                 <table>
                {% for field in form.visible_fields %}
                <tr>
                  <td>{{field.label_tag}}</td>
                  <td>{{field}}</td>
                  <td style="color: red">{{field.errors}}</td>
                </tr>
                {% endfor %}
                </table> -->

                {% for field in form.visible_fields %}
                <div class="row">
                    <div class="form-group col-sm-4"></div>
                    <div class="form-group col-sm-4">
                        {{field.label_tag}} {{field}}
                        <p style="color:red">{{ field.errors }}</p>
                    </div>
                    <div class="form-group col-sm-4"></div>
                </div>
                {% endfor %}

                <button type="submit" class="btn-primary">Sign Up</button>
                {% for field in form.hidden_fields %}
                {{field}}
                {% endfor %}
                {% csrf_token %}
            </form>
            <p>By signing up, you agree to our terms</p>
        </div>
    </div>

{% endblock %}
