<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grumblr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/css/bootstrap337.min.css" %}" />   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grumblr</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Global</a></li>
                    <li><a href="#">Not Logged in</a></li>
                    <!-- <li><a href="#"><span class="caret"></span>Settings</a></li> -->
                </ul>
            </div>
        </div>
    </nav>

<div class="jumbotron text-center">
    <h2> Log Into Grumblr</h2>
    <div class="container">
        <!-- <p style="color:red">
        {{message}}
        </p> -->
        {% if form.errors %}
        <p style="color:red">
        incorrect username and password
        </p>
        {%endif %}
        <form method="post" action="">
        <!-- <form method="post" action="{% url 'django.contrib.auth.views.LoginView.as_view(template_name='login.html')' %">  -->
            <!-- defined in urls.py -->
            <div class="row">
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4">
                <input type="username" class="form-control" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group col-sm-4"></div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4">
                <input type="password" class="form-control" name="password" placeholder="Enter password">
                <!-- <p>Forget Password?</p> -->
            </div>
            <div class="col-sm-2">
                <a href="#"><p>Forget Password?</p></a>
            </div>
            <div class="col-sm-2"></div>
            </div>
            <button type="submit" class="btn-primary" value="login">Log In</button>
            <input type="hidden" name="next" value="{{ next }}">
            {% csrf_token %}
        </form>
    </div>
    <div class="text-center">
        <a href="../signup"><p>Sign Up for Grumblr</p></a>
    </div>

</div>


</body>
</html>