{% extends 'base.html' %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grumblr</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Global</a></li>
                    <li><a href="{% url 'login' %}">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="jumbotron text-center">
    <h2> Change your password</h2>
    <div class="container">
        <form method="post" action="{% url 'forget_password' %}">
            <div class="row">
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4">
                <input type="email" class="form-control" name="email" placeholder="Your Email">
            </div>
            <div class="form-group col-sm-4"></div>
            </div>
            <div class="row">
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4">
                <input type="username" class="form-control" name="username" placeholder="Your username">
            </div>
            <div class="form-group col-sm-4"></div>
            </div>
            <button type="submit" class="btn-primary">Send</button>
            {% csrf_token %}
        </form>
    </div>

</div>

{% endblock %}
