<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Course Regist</title>
</head>
<body>

<form action="/course/course.html" method="get">
	Create a student:<br>
	Andrew ID:<input type="text" name="andrewid"><br>
	fisrt name:<input type="text" name="fisrtname"><br>
	last name:<input type="text" name="lastname"><br>
				<input type="submit"><br>
	<!-- {% csrf_token %} -->
</form>

<form action="/course/course.html" method="get">
	Create a course:<br>
	course:<input type="text" name="couse"><br>
	course name:<input type="text" name="coursename"><br>
	instructor name:<input type="text" name="insname"><br>
				<input type="submit"><br>
	<!-- {% csrf_token %} -->
</form>

<form action="/course/course.html" method="get">
	Register a student a course:<br>
	Andrew ID:<input type="text" name="andrewid"><br>
	course name:<input type="text" name="coursename"><br>
				<input type="submit"><br>
	<!-- {% csrf_token %} -->
</form>
<p>current course rosters</p>
</body>
</html>